.w-100 {
  width: 100%;
}

.w-85 {
  width: 85%;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-dir-col {
  flex-direction: column;
}

.align-i-fe {
  align-items: flex-end;
}

.justify-cont-fe {
  justify-content: flex-end;
}

.justify-cont-sb {
  justify-content: space-between;
}

.justify-cont-sa {
  justify-content: space-around;
}

.d-none {
  display: none;
}

.cap {
  text-transform: capitalize;
}

.lower-case {
  text-transform: lowercase;
}

.deco {
  text-decoration: none;
}

.logout-btn {
  cursor: pointer;
  padding: 5.5px;
  margin: 13px 13px 13px 0;
  align-self: flex-end;
  border: 2px solid $darkGray;
  border-radius: 5px;
  background-color: $lightGray;
  color: $darkGray;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 18px;

  &:hover {
    background-color: $white;
  }
}

.loading {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .loading-img {
    margin-top: 55px;
    margin-bottom: 35px;
    height: 200px;
    width: 200px;
    animation: spin 2s infinite linear;
  }

  .text {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
}

.show {
  animation: show 0.5s linear;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
