$white: rgb(247, 242, 242);
$black: rgb(31, 29, 29);
$lightGreen: #c2f320d3;
$green: #97bf0f;
$blue: #8bdaf9;
$lightGray: rgb(206, 204, 204);
$gray: rgb(160, 156, 156);
$darkGray: rgb(112, 112, 112);
$yellow: rgb(255, 223, 43);
