@import 'variables', 'generic';

.header-container {
  width: 15%;
  min-width: 195px;
  padding: 12px 0 0 12px;
  border-right: 1px solid $lightGray;

  .nav {
    height: 245px;

    .brand {
      padding: 10px 0 0 10px;
      font-family: 'Mukta', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: $blue;
    }

    .nav-item {
      padding: 10px 15px;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: $black;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }

  .social {
    padding: 5px 50px 15px 0;

    .profile-link {
      font-size: 20px;
      color: $darkGray;

      &:hover {
        color: $lightGray;
      }
    }
  }
}
