@import 'variables', 'generic';

.login-form {
  margin-top: 40px;
  width: 70%;
  padding: 27px 17px;
  border: 1.8px solid $green;
  border-radius: 5px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
